* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ====== Variables CSS ====== */
:root {
  /* Colores */
  --fondo-gradiente: linear-gradient(
    to bottom,
    #a8e6cf,
    #dcedc1
  ); /* degradado verde suave (fondo)*/
  --color-primario: #a8e6cf; /* verde suave */
  --color-secundario: #56c596; /* verde más fuerte */
  --color-terciario: #fff; /* blanco para los productos*/
  --color-acento: #9be9d7; /* azul claro (botones) */
  --color-texto: #2f3e46; /* gris oscuro */
  /* Tipografía */
  --fuente-titulo: "Krona One", sans-serif;
  --fuente-texto: "Montserrat", sans-serif;
  --fuente-secundaria: "Agbalumo", system-ui;
  --fuente-extra: "Yellowtail", cursive;
}

/* ====== Estilos de la barra de navegación ====== */
.menu {
  padding: 20px;
  text-align: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-primario);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
  align-items: center;
  grid-area: auto;
  background-color: var(--fondo-gradiente);
}
.menu .logo img {
  width: 50px;
  height: auto;
  border-radius: 30px;
}
.menu li a {
  text-decoration: none;
  font-family: var(--fuente-titulo);
  color: var(--color-texto);
  padding: 10px 15px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.menu li a:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  transition: 0.3s ease;
  transform: scale(1.05);
}
.menu li.logo a:hover {
  background-color: transparent;
  color: inherit;
  transform: none;
}
/* ====== Estilos generales ====== */
body {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--fondo-gradiente);
  font-family: var(--fuente-texto);
  color: var(--color-texto);
}
h1 {
  font-family: var(--fuente-titulo);
  text-align: center;
  margin: 30px 0;
  color: var(--color-texto);
  font-size: 2.2rem;
}

/* ====== Estilos del footer ====== */
footer {
  background-color: var(--color-primario);
  color: var(--fuente-texto);
  margin-top: auto;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: var(--fuente-titulo);
  font-size: 14px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 5px 5px 12px #00000075;
}
/* ====== Estilos responsivos ====== */
@media (max-width: 1024px) {
  .menu {
    position: static;
    background-color: var(--fondo-gradiente);
    border-radius: 10px;
  }
  .menu ul {
    flex-direction: column;
    gap: 12px;
  }
  .menu li a {
    padding: 12px 20px;
    font-size: 16px;
  }
}
/* ====== Estilos de inicio ====== */

.inicio {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.contenido-inicio {
  width: 90%;
  height: 1000%;
  border-top: 2px solid #ffffff75;
  border-bottom: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000075;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 40px;
}

.inicio h1 {
  font-family: var(--fuente-titulo);
  font-size: 3rem;
  margin-bottom: 15px;
  color: var(--color-texto);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.inicio button {
  background-color: var(--color-acento);
  color: var(--fuente-texto);
  cursor: pointer;
  font-family: var(--fuente-texto);
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3 ease;
  text-decoration: none;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}
.inicio button:hover {
  background-color: #d8edc0;
  transform: scale(1.05);
}
.inicio .mensaje {
  font-family: var(--fuente-extra);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--color-texto);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .inicio h1 {
    font-size: 2.2rem;
  }

  .inicio .mensaje {
    font-size: 1rem;
  }
}

/* ====== estilos para producto ====== */
.filtrobar h4 {
  text-align: center;
  margin-bottom: 10px;
}
.filtrobar ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
  gap: 16px;
  flex-wrap: nowrap;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  color: var(--color-texto);
  text-align: right;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filtrobar ul li p:hover {
  color: #000;
  transition: 0.3s ease;
  transform: scale(1.05);
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 20px;
}
.producto {
  background: var(--color-terciario);
  border-radius: 12px 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.producto img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
}
.producto img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.producto h2 {
  font-size: 1rem;
  margin: 10px 0 5px;
  text-align: center;
}
.producto .descripcion {
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--color-texto);
  font-family: var(--fuente-texto);
  font-weight: 13px;
  text-align: center;
}
.producto .botones {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.producto button {
  background-color: var(--color-acento);
  color: var(--fuente-texto);
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3 ease;
  text-decoration: none;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}
.producto button:hover {
  background-color: #d8edc0;
  transform: scale(1.05);
}
.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .productos-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }
  .producto {
    min-width: 260px;
    flex-shrink: 0;
    max-width: 300px;
  }
}

/* ====== estilos para adopción ===== */

.cards-adop {
  padding: 10px;
}
.card-adop {
  display: flex;
  background: var(--color-terciario);
  border: 4px solid #e2f5cc;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  gap: 15px;
}

.card-adop:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img {
  width: 250px;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.Title-adop {
  font-size: 12px;
  text-align: center;
  font-family: var(--fuente-titulo);
  font-size: 2rem;
  padding: 20px;
  color: var(--color-texto);
}
.card-content {
  flex: 1;
  padding-left: 20px;
}

.card-content h2 {
  font-family: var(--fuente-titulo);
}

.info {
  display: inline-flex;
  justify-content: space-between;
  gap: 20px;
}

.left,
.right {
  font-size: 14px;
  font-family: var(--fuente-texto);
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--color-texto);
  margin-top: 15px;
  margin-right: 90px;
  margin-right: 90px;
  margin-bottom: 15px;
}

.btn {
  background-color: var(--color-acento);
  color: var(--fuente-texto);
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3 ease;
  text-decoration: none;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}
.btn:hover {
  background-color: #d8edc0;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .cards-adop {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-img {
    width: 100%;
    max-height: 250px;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    width: 100%;
  }
}

/* ====== Estilos de Servicios ====== */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
}

.card {
  background-color: var(--color-terciario);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
  font-family: var(--fuente-titulo);
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--color-texto);
}

.price {
  font-family: var(--fuente-texto);
  font-weight: 600;
  color: #2e7d32;
  margin-bottom: 12px;
}

.desc {
  font-family: var(--fuente-texto);
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 15px;
  color: var(--color-texto);
}

.imgs-title {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: var(--fuente-texto);
  color: var(--color-texto);
}

.card ul {
  list-style: disc;
  padding-left: 20px;
  font-family: var(--fuente-texto);
  font-size: 0.9rem;
  color: var(--color-texto);
}

.card ul li {
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  .card {
    padding: 15px;
  }
  .card h2 {
    font-size: 1.2rem;
  }
}

.content {
  border: 2px solid rgba(228, 215, 215, 0.075);
  height: 200px;
  overflow: hidden;
  resize: both;
  width: 100%;
}
.content > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* ====== Estilos de Blog ====== */
.Blog {
  display: flex;
  justify-content: space-between;
}

.Pets {
  box-sizing: border-box !important;
  text-align: center;
  padding: 40px;
  background-color: gray;
  width: 50%;
  margin: 0%;
  color: var(--color-terciario);
  text-shadow: #555 0.1em 0.1em 0.2em;
  font-family: var(--fuente-texto);
  border-radius: 10px;
}

.AttentionDay {
  box-sizing: border-box !important;
  text-align: center;
  padding: 40px;
  width: 50%;
  background-color: beige;
  margin: 0%;
  font-family: var(--fuente-texto);
  border-radius: 10px;
}

.adoptOld {
  text-align: center;
  padding: 200px;
  background-image: url("/assets/img/adopcion/old-dog.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  font-size: large;
  font-family: var(--fuente-texto);
  color: var(--color-terciario);
  text-shadow: #555 0.1em 0.1em 0.2em;
  border-radius: 10px;
}
.adoptOld p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--fuente-texto);
}
.adoptOld a {
  color: white;
  transition: 1s color;
  font-size: x-large;
  text-decoration: none;
  font-family: var(--fuente-titulo);
  font-weight: bold;
}

.adoptOld a:hover {
  color: blue;
  font-size: x-large;
}
.container2 {
  display: flex;
  justify-content: space-between;
}

.housePet {
  box-sizing: border-box !important;
  text-align: left;
  padding: 40px;
  background-color: beige;
  width: 50%;
  margin: 0%;
  border-radius: 10px;
}

.tips {
  box-sizing: border-box !important;
  text-align: center;
  padding: 40px;
  width: 50%;
  background-color: gray;
  margin: 0%;
  text-shadow: #555 0.1em 0.1em 0.2em;
  color: var(--color-terciario);
  font-family: var(--fuente-texto);
  border-radius: 10px;
}
/* ===== Estilos Sobre Nosotros ====== */
.nosotros {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: var(--fuente-texto);
  color: var(--fuente-texto);
}
.nosotros p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}
.nosotros .que-hacemos ul {
  margin-top: 15px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  margin-top: 15px;
}
.nosotros .que-hacemos li {
  background: var(--color-primario);
  padding: 30px;
  border-radius: 15px;
  color: var(--color-texto);
  margin-top: 40px;
  box-shadow: 5px 5px 12px #00000075;
  list-style: none;
  text-align: center;
}
.mision-y-vision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 40px o;
  text-align: center;
}
.mision,
.vision {
  background: var(--color-terciario);
  border-radius: 20px;
  max-width: 900px;
  width: 80%;
  height: 80%;
  border-top: 2px solid #ffffff75;
  border-bottom: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000075;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 40px;
}

.mision h2,
.vision h2 {
  margin-bottom: 12px;
  color: var(--color-texto);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.valores {
  margin: 40px 0;
}
.valores ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  margin-top: 15px;
}
.valores li {
  background: var(--color-terciario);
  border-radius: 20px;
  border-top: 2px solid #ffffff75;
  border-bottom: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000075;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 12px 15px;
  font-weight: 600;
  text-align: center;
  color: var(--color-texto);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.compromiso {
  background: var(--color-primario);
  padding: 30px;
  border-radius: 15px;
  color: var(--color-texto);
  margin-top: 40px;
}
.compromiso h2 {
  margin-bottom: 12px;
}

/* ===== Estilos Contacto ====== */

.contacto {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: var(--fuente-texto);
}

.contacto h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contacto p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.6;
}

.informacion {
  list-style: none;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  backdrop-filter: blur(4px);
  overflow: hidden;
}

.info-contacto h3 {
  margin-bottom: 15px;
  font-family: var(--fuente-titulo);
  text-align: center;
}

.informacion li {
  margin-bottom: 10px;
  color: var(--color-texto);
  text-align: left;
  display: row;
  align-items: center;
  gap: 10px;
  font-family: var(--fuente-texto);
}

.formulario-contacto h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--fuente-titulo);
}
form {
  background: var(--color-terciario);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

form label {
  font-weight: 600;
}

form input,
form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: var(--fuente-texto);
}

form textarea {
  resize: vertical;
  min-height: 120px;
}

form button {
  background: var(--color-acento);
  color: var(--color-terciario);
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease, background 0.3s ease;
}

form button:hover {
  transform: scale(1.05);
  background: var(--color-secundario);
}

.formulario-contacto p {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-texto);
  font-weight: bold;
  font-family: var(--fuente-texto);
  margin: 15px 0;
}
.redes {
  background: var(--color-terciario);
  border-radius: 20px;
  border-top: 2px solid #ffffff75;
  border-bottom: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000075;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 12px 15px;
  font-weight: 600;
  text-align: center;
  color: var(--color-texto);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.redes h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-texto);
  font-family: var(--fuente-secundaria);
  margin: 15px 0;
}
.redes ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  padding: 0;
}

.redes a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-texto);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease, color 0.3s ease;
  font-family: var(--fuente-titulo);
  margin-bottom: 20px;
}

.redes a:hover {
  transform: scale(1.1);
  color: var(--color-secundario);
  background: var(--color-terciario);
  border-radius: 20px;
  border-top: 2px solid #ffffff75;
  border-bottom: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000075;
  background: var(--color-secundario);
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 12px 15px;
  font-weight: 600;
  text-align: center;
  color: var(--color-texto);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
